body {
    height: auto;
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}
.main-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

.main-header {
    position: relative;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 16px;
    color: #000000;

    background-color: #ffffff;
}

.main-header-logo {
    display: block;
    position: absolute;
    left: 531px;
    top: 0;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;
    list-style: none;
}

.site-navigation li {
    margin: 0;
    padding: 0;
    width: 20%;
}

.site-navigation li:nth-of-type(2) {
    margin-right: auto;
}

.site-navigation li:nth-of-type(n+3) {
    text-align: right;
}

.site-navigation a {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page,
.site-navigation .current-page:hover,
.site-navigation .current-page:focus {
    color: #766357;
    font-weight: 700;
}

.main-section {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 76px;
    background-color: #d3e4ee;
    background-image: url("../img/background-photo.jpg");
    background-position: center -83px;
    background-repeat: no-repeat;
}

.main-section-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main-section::after {
    height: 80px;
    padding: 0;
    margin: 0;
    content: "";
    background-image: url("../img/shape.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.features {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 58px;
    text-align: center;
}

.features h1 {
    max-width: 440px;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.features-list,
.more-features {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features h2,
.features h3,
.features h4,
.features p {
    margin: 0;
    padding: 0;
}

.features h2 {
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.features-list {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eeeeee;
}

.more-features {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.features-list li:first-child {
    order: -2;
}

.features-list li:nth-of-type(6) {
    order: -1;
}

.features-item,
.more-item {
    width: 33.33%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 47px;
    padding-bottom: 57px;
}

.features-item {
    padding-left: 65px;
    padding-right: 65px;
}

.more-item {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
    padding-bottom: 84px;
}

.features-item:nth-of-type(-n+2) {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item h3,
.more-features h4 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.features-item p,
.more-features p {
    font-size: 14px;
    line-height: 21px;
}

.features-item p:first-of-type {
    margin-bottom: 21px;
}

.features-column {
    width: 33.33%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 61px;
    padding-left: 65px;
    padding-right: 65px;
}


.features-item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66.67%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.features-item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
}

.features-item:nth-of-type(1) .features-item-img {
    background-image: url("../img/index-city.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.features-item:nth-of-type(2) .features-item-img {
    background-image: url("../img/index-devils-bridge.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.more-features p {
    color: #333333;
}

.more-item::before {
    content: "";
    width: 76px;
    height: 76px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.more-item:nth-of-type(1)::before {
    background-image: url("../img/icon-1.svg");
}

.more-item:nth-of-type(2)::before {
    background-image: url("../img/icon-3.svg");
}

.more-item:nth-of-type(3)::before {
    background-image: url("../img/icon-2.svg");
}

.search {
    position: relative;
    padding-top: 53px;
    text-align: center;
}

.search-lead {
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.search-text {
    max-width: 568px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    line-height: 24px;
    color: #333333;
}

.search-button {
    margin: 0;
    padding: 0;
    border-style: none;
    vertical-align: middle;
}

.search-button-show {
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.search-button-show:hover {
    background-color: #604e43;
}

.search-button-show:focus {
    color: rgba(256, 256, 256, 0.3);
    background-color: #503d32;
}

.search-form {
    position: absolute;
    display: flex;
    width: 568px;
    justify-content: space-between;
    left: 50%;
    margin-left: -284px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
    padding-bottom: 55px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    background-color: #ffffff;
}

.search-form {
    font-size: 0;
}

.search-form-item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 29px;
}

.search-form input {
    height: 38px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    border-style: none;
}

.search-form-item label {
    margin-right: auto;
    font-size: 14px;
    text-align: left;
}

.search-form-item:nth-of-type(1),
.search-form-item:nth-of-type(2) {
    width: 100%;
}

.search-form-item:nth-of-type(3),
.search-form-item:nth-of-type(4) {
    width: 50%;
    margin-bottom: 54px;
}

.search-form-item:nth-of-type(1) input,
.search-form-item:nth-of-type(2) input {
    width: 296px;
    padding-left: 12px;
}

.search-form-item:nth-of-type(3) input,
.search-form-item:nth-of-type(4) input {
    width: 38px;
    height: 38px;
    padding: 0;
    text-align: center;
    border-style: none;
}

.search-form-item:nth-of-type(4) label {
    padding-left: 54px;
}

.search-form-item:nth-of-type(3) {
    padding-right: 3px;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-button-less,
.search-button-more {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}

.search-button-less svg,
.search-button-more svg {
    fill: #a9a9a9;
}

.search-button-less:hover svg,
.search-button-more:hover svg {
    fill: #000000;
}

.search-button-less:focus svg,
.search-button-more:focus svg {
    fill: #81b3d2;
}

.search-button-calendar {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}

.search-button-calendar svg {
    fill: #c9c9c9;
}

.search-button-calendar:hover svg {
    fill: #000000;
}

.search-button-calendar:focus svg {
    fill: #81b3d1;
}

.search-button-find {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
}

.search-button-find:hover {
    background-color: #669dc0;
}

.search-button-find:focus {
    color: rgba(256, 256, 256, 0.3);
    background-color: #5495bd;
}

.main-footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    min-height: 594px;
    background-image: url("../img/map.jpg");
    background-color: #ffffff;
    background-position: center bottom;
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgba(256, 256, 256, 0.9);
}

.main-footer-hashtag {
    width: 33.3%;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 33.3%;
    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d1;
}

.social-button:first-of-type {
    margin-left: auto;
    margin-right: 6px;
}

.social-button:nth-of-type(2) {
    margin-right: 6px;
}

.social-button:last-of-type {
    margin-right: auto;
}

.social-button svg {
    fill: #ffffff;
    vertical-align: middle;
}

.social-button:hover {
    background-color: #669dc0;
}

.social-button:focus {
    background-color: #5495bd;
}

.social-button:focus svg {
    fill: rgba(256, 256, 256, 0.3);
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 33.3%;
    align-items: center;
    line-height: 26px;
}

.copyright p {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 8px;
}

.copyright-link {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: auto;
    line-height: 1px;
}

.copyright-link svg {
    margin: 0;
    padding: 0;
    fill: #000000;
}

.copyright-link:hover svg {
    fill: #81b3d2;
}

.copyright-link:focus svg {
    fill: #bdbbbc;
}

.filters {
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 72px;
    padding-right: 72px;
    color: #ffffff;
    background-color: #7395bb;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.filters-form {
    display: flex;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.filters-item legend,
.filters-item p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.filters-item legend {
    margin-bottom: 25px;
}

.filters-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters-item li {
    margin-bottom: 24px;
    padding-left: 40px;
}

.filters-item li:last-of-type {
    margin-bottom: 0;
}

.filters-option label {
  position: relative;
  display: block;
  user-select: none;
}

.filters-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filters-input-checkbox:focus + label::before {
    outline: 1px solid #4d90fe;
}

.filters-input-checkbox:checked + label::before {
    width: 27px;
    height: 23px;
    border: none;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters-input:disabled + label::before {
    border-color: #696969;
}

.filters-column-right {
    margin-left: auto;
}

.filters-column-left {
    width: 24.2%;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 55px;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 14px;
  line-height: 21px;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filters-form button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
}

.results-sort {
    display: flex;
    align-items: baseline;
    padding-top: 32px;
    padding-bottom: 33px;
    padding-left: 72px;
    padding-right: 73px;
}

.results-sort p {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.results-sort p:nth-of-type(2) {
    margin-left: 45px;
    margin-right: 36px;
}

.results-sort ul,
.content ul {
    list-style: none;
}

.sort-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.sort-list li {
    margin-right: 29px;
}

.results-sort span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.sort-list a {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:focus {
    color: #000000;
    border-bottom: none;
}

.sort-option-active a {
    color: #81b3d2;
    border-bottom: none;
}

.sort-icons {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.icon-sort svg {
    fill: #c9c9c9;
}

.icon-sort:hover svg {
    fill: #000000;
}

.icon-sort:focus svg {
    fill: #81b3d1;
}

.icon-sort-active svg {
    fill: #81b3d1;
}

.content img {
    display: block;
}

.content-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content-list p {
    margin: 0;
    padding: 0;
}

.content-item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 72px;
    padding-left: 72px;
    border-bottom: 1px solid #e5e5e5;
}

.content-item .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-item-image {
    margin-right: 30px;
}

.content-item-name {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.container-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content-item-info {
    margin-left: auto;
    color: #666666;
}

.content-item-info p {
    display: block;
    width: 110px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #f1f1f1;
}

.content-col p {
    margin-bottom: 14px
}

.results-button {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
}

.result-button-more {
    width: 110px;
    margin-right: 6px;
    background-color: #81b3d2;
}

.result-button-more:hover {
    background-color: #669dc0;
}

.result-button-more:focus {
    color: rgba(256, 256, 256, 0.3);
    background-color: #5495bd;
}

.result-button-booking {
    width: 142px;
    background-color: #756357;
}

.result-button-booking:hover {
    background-color: #604e43;
}

.result-button-booking:focus {
    color: rgba(256, 256, 256, 0.3);
    background-color: #503d32;
}

.content-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content-item-stars {
    display: flex;
    margin-bottom: 47px;
}

.content-item-stars li {
    margin-left: 5px;
}

.main-footer.hotels-page {
    min-height: 120px;
    background-image: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
